.App {
  background: rgba(0, 89, 255, 0.78);
  height: fit-content;
  width: max(400px, 10vh);
  border-radius: 1ch;
}
.btn-settings{
  margin: 1ch 0 1ch 0;
  float: right;
  padding: 0.5ch !important;
  width: fit-content;
  height: fit-content;
}
.form-range::-moz-range-thumb{
  background-color: #0d6efd !important;
  border: initial;
  box-shadow: inherit !important;
}
h1{
  color: white;
  margin: 1ch;
}
.App>div, .accordion-body > * + *{
  margin: 1ch;
}
.accordion-body > *:first-child{
  margin: 1ch 1ch 1ch 0;
}
.accordion-button{
  --bs-accordion-btn-focus-box-shadow: none;
  background-color: var(--bs-accordion-active-bg) !important;
  color: var(--bs-accordion-active-color) !important;
  --bs-accordion-btn-icon: var(--bs-accordion-btn-active-icon) !important;
}
.accordion-item:nth-child(1){
  filter: hue-rotate(220deg) saturate(2.5);
}
.accordion-item:nth-child(2){
  filter: hue-rotate(170deg) saturate(2.5);
}
.accordion-item:nth-child(3){
  filter: hue-rotate(140deg) saturate(2.5);
}
.accordion-item:nth-child(4){
  filter: hue-rotate(100deg) saturate(2.5);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
